/* IMPOSTAZIONI GENERALI */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Poppins&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


body {
    background-image: url(../img/sfondo.png);
    margin: 10px;
}

h1 {

    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 30px;

}


/* HEADER */

#container {
    
    background: linear-gradient(90deg, rgb(0,160,198) 0%, rgba(3,109,134,1) 100%);
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0px;
    padding-right: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 20px;
}

.mario-rossi {

    color: rgb(161, 169, 162);
    padding-left: 15px;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 15px;
    font-weight: lighter;
}

.blue {

    color:rgb(156, 46, 112);
    font-weight: bold;

}

.varie-aree {

    font-family: 'Poppins', sans-serif;

}

p {

    padding-bottom: 15px;

}

.primo-paragrafo {

    font-family: 'Poppins', sans-serif;

}

#nav {

font-family: 'Roboto', sans-serif;

}

a, .home .articoli .job {

    color: white;
    text-decoration: none;
    
}



.epicode-blogdev{

    font-family: 'Roboto', sans-serif;
    color:white;
    padding: 5px;
    
}

.logo-epicode {

    padding: 15px;
}

/* MAIN */

#main {

    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

/* ELEMENTI NEL MAIN - ARTICLE */

.titolo {

    padding: 15px;
}

.corpo-testo {

    padding: 15px;

}

.lista {

    font-family: 'Poppins', sans-serif;
    font-size:16px;
    padding-left: 30px;
    padding-bottom: 15px;
}

.codice, .codice-footer {

background-color: rgb(221,221,221);
border-radius: 5px;
border-style: outset;

}

.codice-footer {




}


ul {
    list-style: disc;
  }

li{
    display: list-item;
    padding: 5px;
    
  }



.video {
    
    border-radius: 10%;
    margin-top: 30px;
}

/* TABELLE */

/* FORM */

.novita {

    padding: 15px;
    background-color: rgb(239, 208, 208);
    margin: 30px auto;
}

/* ELEMENTI NELL' ASIDE */

.articoli-correlati {

    background-color: white;
    padding-top: 15px;
}

.articoli-testo {

text-align: center;
font-family: 'Poppins', sans-serif;
font-weight: bold;
}

/* FOOTER */
