<video autoplay muted loop id="myVideo">
  <source src="../../../../assets/Convection 3-0 _ An 8K weather timelapse_1.mp4" type="video/mp4">
</video>

<div class="form-container container d-flex align-items-center my-5">

  <form class="form-signin m-auto form-floating my-5">
    <img class="form-logo mb-4 ms-4" src="../../../../assets/Screenshot_2023-12-10_alle_12.13.17-removebg-preview.png" alt="epimeteo">
    <h3 class="mb-3 ms-3 fw-normal text-white">Effettua il login</h3>

    <div class="form-floating my-2">
      <input type="email" [(ngModel)]="loginData.email" name="email" class="form-control" placeholder="Email">
    </div>
  <div class="form-floating">
    <input type="password" [(ngModel)]="loginData.password" name="password" class="form-control" placeholder="Password">
  </div>
  <div *ngIf="errorMessage" class="alert alert-danger mt-1 error-msg">{{ errorMessage }}</div>
  <button class="btn btn-primary w-100 py-2 my-3" (click)="save()">Login</button>
  <a class="btn btn-primary w-100 py-2" routerLink="/auth/register">Registrati</a>
</form>


</div>
