.form-logo{

  width: 150px;

}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.form-control::placeholder{

  color: black;

  }

  .error-msg{

    width: 201px;

  }

