<div class="container">
  <form class="d-flex">
    <input type="text" [(ngModel)]="cityName" name="cityName" required
    placeholder="Inserisci il nome della città" (input)="isEmpty()" class="form-control">
    <button type="button" (click)="findCity()" class="btn btn-primary ms-2 search-btn" [disabled]="!cityName">Cerca</button>
  </form>

  <div *ngIf="cityData && cityData.length" class="my-3">
    <div *ngFor="let city of cityData">
      <button (click)="getWeather(city.lat,city.lon)" class="btn btn-outline-primary w-100 my-1">{{ city.name }},{{ city.country }}</button>
    </div>
  </div>


  <div *ngIf="weatherData">
    <div class="city-info w-100">
      <div class="card m-2">
        <div class="card-body">
          <h5 class="card-title">{{ weatherData.city.name }}</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Paese: {{ weatherData.city.country }}</li>
          <li class="list-group-item">Temperatura: {{ weatherData.list[0].main.temp - 273.15 | number:'1.0-0' }}&#176;C</li>
          <li class="list-group-item">Meteo attuale: {{ weatherData.list[0].weather[0].description }}</li>
          <li class="list-group-item">Popolazione: {{ weatherData.city.population }}</li>
        </ul>
        <div>
          <button class="btn btn-primary w-100 m-2">Aggiungi ai preferiti</button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="weatherData" class="weat-card">
      <div *ngFor="let forecast of weatherData.list">
        <div class="card m-2 card-weather">
          <img [src]="'assets/' + getImageUrl(forecast.weather[0].main)" class="card-img-top card-img">
          <div class="card-body">
            <h6 class="ms-3">Previsioni del meteo:</h6>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Data e ora: {{ forecast.dt_txt | date: 'dd/MM/yyyy HH:mm' }}</li>
              <li class="list-group-item">Temperatura prevista: {{ forecast.main.temp - 273.15 | number: '1.0-1' }} &#176;C</li>
              <li class="list-group-item">Meteo: {{ forecast.weather[0].main }}</li>
            </ul>
          </div>
      </div>
    </div>
  </div>
</div>
