.weat-card{

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.card-weather{

  width: 20rem;

}

.card-img{

  height: 200px;

}

.favorite-container{

  color: white;
  background-color: #0E6EFD;
  border-radius: 30px;
  width: 70%;
  padding: 0px 15px;
  opacity: 0.2;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;

  &:hover{

    opacity: 1;

  }

}

