.netflix-logo{

    width: 90px;

}

svg{

    color: white;

}

.nav-link{

    font-size: 0.8rem;

}

svg{

    cursor: pointer;

}


#avatar-1{

    height: 32px;

}

#avatar-2{

    height: 23px;

}

