@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "_navbar.scss";
@import "_filter-section.scss";
@import "_carousels.scss";
@import "_footer.scss";

:root{

    --home-background-color: #232323;


}


body{

    background-color: var(--home-background-color);

}


#container-profile{

width: 50%;
margin: 0 auto;

}

#genre-button{

    width: 80px;
    padding-left: 12px;

}

.list-icon, .column-icon {

    display: none;

}


@media screen and (min-width: 992px) {

    .list-icon, .column-icon {

        display: block;
    
    }
    
}
