/* You can add global styles to this file, and also import other style files */
body{
  height: 100vh;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background: rgb(120,211,251);
  background: linear-gradient(0deg, rgba(120,211,251,1) 0%, rgba(255,255,255,1) 100%);
}


button{

  background-color: transparent;
  border: none;
  cursor: pointer;

  svg{

    transition: .2s linear;

  }

  svg:hover{

    fill: #AF7EEA;

  }

}

