@media screen and (min-width: 576px){
body { 
        font-family: Poppins, 'Helvetica Neue', sans-serif;
        font-size: 1.9rem;
        line-height: 1.5;
        padding: 15px;
        background-image: url('../img/sfondo.png');
        background-position: center center;
    }

header{

    font-weight: normal;
}


  nav li{

    display: inline-block;
    padding: 5px;

    }

nav ul{

    font-size: 2rem;
    
}

h1 {
    font-size: 5rem;
    font-weight: bold;
    letter-spacing: -0.03em;
    margin-bottom: 0.7em;

}

section h2{

   background-color: rgba(0, 0, 0, 0.266);
   text-transform: capitalize;
   font-size: 2.6rem;
}

input{

   width:200px;
   height: 30px;
   font-size: 1.6rem;
}
button{

height: 25px;

}

section p{

    font-size: 1.8rem;

}

aside h2{

font-size: 3.5rem;

}

footer{

    font-size: 2rem;
}

}



@media screen and (min-width: 768px){
    
    h1 {
        font-size: 5.8rem;
        font-weight: bold;
        letter-spacing: -0.03em;
        line-height: 1.2;
        margin-bottom: 0.7em;
    
    }

    table {

    margin: auto;
    margin-top: 70px;
    margin-bottom: 90px;
    width: 75%;
    }

    caption {
        font-weight: bold;
        font-style: italic;
        font-size: 1.6rem;
    }

   aside h2{

    font-size: 3rem;
    
    }
}


@media screen and (min-width: 1200px){
    
main{

    padding: 25px;
}

header{

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    padding-right: 35px;
    padding-left: 15px;

}

ul li{

    line-height: 1.9;
}

div{

    display: flex;
    align-items: flex-end;

}

header div p{

    display: inline;


}

div p{

    margin-bottom: 40px;

}

img{

    margin-top: 30px;
}



div iframe{

height: 232px;
max-width: 100%;

}

section form{

    max-width: 100%;

}

section{

    border-radius: 5%;

}

input{

    width:300px;
    height: 40px;
    font-size: 1.6rem;
 }
 button{
 
 height: 40px;
 width: 100px;
 
 }

aside > div{

   display: inline-block;
   width: calc(100% / 3 - 0.4rem);
}

}

@media print {

    header, aside, section, footer{

        display:none
    }


    h1{

        font-size: 2rem;

    }

    body{

        font-size: 2.3rem;
    }
}